﻿<section id="CleanTask" class="wizard task" style="display: none">
    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Уборка</legend>
        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="cleanRoomName" data-val-regex-pattern="" data-val-regex="То что убираем, не должно быть пустым" data-val="true">Что убираем: </label>
                    <input id="cleanRoomName" data-url="@Url.Action("GetRooms")">
                </div>
            </div>

            <div class="right-part">
                <div class="frame">
                    <div id="cleanAssignedToChooseBox">

                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>


        <div class="line">
            <div class="left-part" style="height:100%;">
                <div class="frame" id="cleanDaySelector">
                    <div class="left-part">
                        <label>
                            <input type="checkbox" data-day-of-week="1" />
                            понедельник
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="2" />
                            вторник
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="3" />
                            среда
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="4" />
                            четверг
                        </label>
                    </div>
                    <div class="right-part">
                        <label>
                            <input type="checkbox" data-day-of-week="5" />
                            пятница
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="6" />
                            суббота
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="0" />
                            воскресение
                        </label>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>

            <div class="right-part">
                <div class="frame">
                    <label for="cleanReward">Награда:</label>
                    <div id="cleanReward">
                        <label><input type="radio" id="cleanRewardRadioPoints" name="cleanRewardRadio" value="points" checked>баллы</label>
                        <label><input type="radio" id="cleanRewardRadioGift" name="cleanRewardRadio" value="gift">подарок</label>
                        <br />
                        <div id="cleanChooseReward">
                            <label id="cleanRewardLabelPoints">Очки:</label>
                            <input id="cleanRewardPoints" type="number" value="0" min="0">
                            <label id="cleanRewardLabelGift" style="display:none">Подарок:</label>
                            <textarea id="cleanRewardGift" type="text" style="display:none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>


        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="cleanDescription">Описание:</label>
                    <textarea id="cleanDescription" type="text" style="height:100%;"> </textarea>
                </div>
                <input id="actionPostCleanTask" type="button"
                       data-action-url-add="@Url.Action("AddCleanTask")"
                       data-action-url-update="@Url.Action("UpdateCleanTask")"
                       data-text-add="Добавить задачу"
                       data-text-update="Сохранить изменения"
                       value="Сохранить изменения" />
                <input class="actionBack" type="button" value="Назад" />
            </div>
            <div class="right-part" style="display:none">
                <div class="frame">
                    <div class="frame">
                        <label for="cleanReminderTime">Напоминание:</label>
                        <input type="time" id="cleanReminderTime" />
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </fieldset>
</section>