﻿<section id="HomeworkTask" class="wizard task" style="display: none">

    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Учебное задание</legend>

        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="homeworlkLesson">Урок </label>
                    <input id="homeworlkLesson" data-url="@Url.Action("GetLessons")">
                </div>
            </div>

            <div class="right-part">
                <div class="frame">
                    <label for="homeworkDescription">Описание:</label>
                    <textarea id="homeworkDescription" type="text" style="height:100%;"> </textarea>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>


        <div class="line">
            <div class="left-part" style="height:100%;">
                <div class="frame" id="js-day-selector">
                    <div class="left-part">
                        <label>
                            <input type="checkbox" data-day-of-week="1" />
                            понедельник
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="2" />
                            вторник
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="3" />
                            среда
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="4" />
                            четверг
                        </label>
                    </div>
                    <div class="right-part">
                        <label>
                            <input type="checkbox" data-day-of-week="5" />
                            пятница
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="6" />
                            суббота
                        </label>
                        <label>
                            <input type="checkbox" data-day-of-week="0" />
                            воскресение
                        </label>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <label>
                    <input type="checkbox" id="js-select-hollidays" />
                    Вкючить праздники
                </label>
            </div>

            <div class="right-part">
                <div class="frame">
                    <div id="homeworkAssignedToChooseBox">

                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>


        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="homeworkStartDate">Начало:</label>
                    <input id="homeworkStartDate" type="text" data-type="date">
                    <br />
                    <label for="homeworkEndDate">Конец:</label>
                    <input id="homeworkEndDate" type="text" data-type="date">
                </div>
            </div>
            <div class="right-part">

                <div class="frame">
                    <label for="homeworkReward">Награда:</label>
                    <div id="homeworkReward">
                        <label><input type="radio" id="homeworkRewardRadioPoints" name="homeworkRewardRadio" value="points" checked>баллы</label>
                        <label><input type="radio" id="homeworkRewardRadioGift" name="homeworkRewardRadio" value="gift">подарок</label>
                        <br />
                        <div id="homeworkChooseReward">
                            <label id="homeworkRewardLabelPoints">Очки:</label>
                            <input id="homeworkRewardPoints" type="number" value="0" min="0">
                            <label id="homeworkRewardLabelGift" style="display:none">Подарок:</label>
                            <textarea id="homeworkRewardGift" type="text" style="display:none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <input id="actionPostHomeworkTask" type="button"
                           data-action-url-add="@Url.Action("AddHomeworkTask")"
                           data-action-url-update="@Url.Action("UpdateHomeworkTask")"
                           data-text-add="Добавить задачу"
                           data-text-update="Сохранить изменения"
                           value="Сохранить изменения" />
                    <input class="actionBack" type="button" value="Назад" />
                </div>
            </div>
            <div class="right-part" style="display:none">
                <div class="frame">
                    <label for="homeworkReminderTime">Напоминание:</label>
                    <input type="time" id="homeworkReminderTime" />
                </div>
            </div>
        </div>
    </fieldset>
</section>


