﻿<section id="OneTimeTask" class="wizard task" style="display: none">

    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Очистка комнаты</legend>

        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="oneTimeName">Название:</label>
                    <input id="oneTimeName" type="text" value="" data-val-regex-pattern="" data-val-regex="Название не должно быть пустым" data-val="true">
                </div>
            </div>
            <div class="right-part">
                <div class="frame" id="oneTimeAssignedToChooseBox">
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="line">
            <div class="left-part" style="height:100%;">
                <div class="frame">
                    <label for="oneTimeDescription">Описание:</label>
                    <textarea id="oneTimeDescription" type="text" style="height:100%;"> </textarea>
                </div>
            </div>
            <div class="right-part">
                <div class="frame">
                    <label for="oneTimeReward">Награда:</label>
                    <div id="oneTimeReward">
                        <label><input type="radio" id="oneTimeRewardRadioPoints" name="oneTimeRewardRadio" value="points" checked>баллы</label>
                        <label><input type="radio" id="oneTimeRewardRadioGift" name="oneTimeRewardRadio" value="gift">подарок</label>
                        <br />
                        <div id="chooseReward">
                            <label id="oneTimeRewardLabelPoints">Очки:</label>
                            <input id="oneTimeRewardPoints" type="number" min="0"value="0">
                            <label id="oneTimeRewardLabelGift" style="display:none">Подарок:</label>
                            <textarea id="oneTimeRewardGift" type="text" style="display:none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="oneTimeDeadlineDate">Дедлайн:</label>
                    <input id="oneTimeDeadlineDate" type="text" data-type="date">
                    <br />
                </div>
                <input id="actionPostOneTimeTask" type="button"
                       data-action-url-add="@Url.Action("AddOneTimeTask")"
                       data-action-url-update="@Url.Action("UpdateOneTimeTask")"
                       data-text-add="Добавить задачу"
                       data-text-update="Сохранить изменения"
                       value="Сохранить изменения" />
                <input class="actionBack" type="button" value="Назад" />
            </div>
            <div class="right-part" style="display:none">
                <div class="frame">
                    <label for="oneTimeReminderTime">Напоминание:</label>
                    <input type="time" id="oneTimeReminderTime" />
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

    </fieldset>
</section>


