﻿<section id="RepeatTask" class="wizard task" style="display: none">
    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Повторяющееся задание</legend>

        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label for="repeatName">Название:</label>
                    <input id="repeatName" type="text" value="" data-val-regex-pattern="" data-val-regex="Название не должно быть пустым" data-val="true">
                </div>
            </div>
            <div class="right-part">
                <div class="frame">
                    <label for="repeatDescription">Описание:</label>
                    <textarea id="repeatDescription" type="text" style="height:100%;"> </textarea>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="line">
            <div class="left-part" style="height:100%;">
                <div class="frame">
                    <div id="daySelector">
                        <div id="daySelectorRadioBox">
                            <div class="left-part">
                                <div class="left-part">
                                    <label>
                                        <input type="radio" id="everyday" name="daySelector" data-occurrence-type="1"/>
                                        каждый день
                                    </label>
                                </div>
                                <div class="right-part">
                                    <label>
                                        <input type="radio" id="everyWeekday" name="daySelector" data-occurrence-type="2" />
                                        каждый будний день
                                    </label>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="left-part">
                                    <label>
                                        <input type="radio" id="everyWeek" name="daySelector" data-occurrence-type="3" />
                                        каждую неделю
                                    </label>
                                </div>
                                <div class="right-part">
                                    <label>
                                        <input type="radio" id="everyMonth" name="daySelector" data-occurrence-type="4" />
                                        каждый месяц
                                    </label>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <br />
                        <div id="selectedInput">
                            <label id="everyDayInput">Каждый <input type="number" style="width:30px" min="1"/> день</label>
                            <div id="daysOfWeekInput">
                                <label >Каждую <input type="number" id="everyWeekNum" min="1" style="width:50px;" /> неделю по:</label>
                                <div class="left-part">
                                    <div>
                                        <label>
                                            <input type="checkbox" data-day-of-week="1" />
                                            понедельник
                                        </label>
                                        <label>
                                            <input type="checkbox" data-day-of-week="2" />
                                            вторник
                                        </label>
                                        <label>
                                            <input type="checkbox" data-day-of-week="3" />
                                            среда
                                        </label>
                                        <label>
                                            <input type="checkbox" data-day-of-week="4" />
                                            четверг
                                        </label>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <label>
                                        <input type="checkbox" data-day-of-week="5" />
                                        пятница
                                    </label>
                                    <label>
                                        <input type="checkbox" data-day-of-week="6" />
                                        суббота
                                    </label>
                                    <label>
                                        <input type="checkbox" data-day-of-week="0" />
                                        воскресение
                                    </label>
                                </div>
                            </div>
                            <label id="evetyMonthInput">Каждый <input type="number" min="1" style="width:30px" />день каждого <input type="number" style="width:30px" min="1"/> месяца</label>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="right-part">
                <div class="frame" id="repeatAssignedToChooseBox">
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="line">
            <div class="left-part">
                <div class="frame">
                    <label>Временной промежуток:</label>
                    <br />
                    <div id="dateRange">
                        <label>
                            Начало:
                            <input type="text" data-type="date" id="startDate" style="width:200px;" />
                        </label>
                        <label>
                            <input type="radio" id="selectEndAfter" name="repeatEndSelectRadio" value="After" />
                            Закончить после
                            <input type="number" id="EndAfter" style="width:50px;" min="1"/>
                            повторений
                        </label>
                        <label>
                            <input type="radio" id="selectEndBy" name="repeatEndSelectRadio" value="By" />
                            Закончить:
                            <input type="text" data-type="date" id="EndBy" style="width:200px;">
                        </label>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <br />
                <input id="actionPostRepeatTask" type="button"
                       data-action-url-add="@Url.Action("AddRepeatTask")"
                       data-action-url-update="@Url.Action("UpdateRepeatTask")"
                       data-text-add="Добавить задачу"
                       data-text-update="Сохранить изменения"
                       value="Сохранить изменения" />
                <input class="actionBack" type="button" value="Назад" />
            </div>
            <div class="right-part">
                <div class="frame">
                    <label for="repeatReward">Награда:</label>
                    <div id="repeatReward">
                        <label><input type="radio" id="repeatRewardRadioPoints" name="repeatRewardRadio" value="points" checked>баллы</label>
                        <label><input type="radio" id="repeatRewardRadioGift" name="repeatRewardRadio" value="gift">подарок</label>
                        <br />
                        <div id="repeatReward">
                            <label id="repeatRewardLabelPoints">Очки:</label>
                            <input id="repeatRewardPoints" type="number" value="0"min="0">
                            <label id="repeatRewardLabelGift" style="display:none">Подарок:</label>
                            <textarea id="repeatRewardGift" type="text" style="display:none"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <div class="frame" style="display:none">
                    <label for="repeatReminderTime">Напоминание:</label>
                    <input type="time" id="repeatReminderTime" />
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </fieldset>
</section>