﻿<section id="ShoppingTask" class="wizard task" style="display: none">
    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Очистка комнаты</legend>
        <div class="left-part">
            <div class="frame">
                <label for="shoppingName">Название магазина:</label>
                <input type="text" id="shoppingName" />
            </div>
            <br />
            <div class="frame">
                <input type="button" id="btnAddRow"  value="+"/>
                <label for="shoppingList">Список покупок:</label>
                <table id="shoppingList"></table>
            </div>

        </div>
        <div class="right-part">
            <div class="frame" id="shoppingAssignedToChooseBox">
            </div>
            <br />
            <div class="frame">
                <label for="shoppingReward">Награда:</label>
                <div id="shoppingReward">
                    <label><input type="radio" id="shoppingRewardRadioPoints" name="shoppingRewardRadio" value="points" checked>баллы</label>
                    <label><input type="radio" id="shoppingRewardRadioGift" name="shoppingRewardRadio" value="gift">подарок</label>
                    <br />
                    <div id="shoppingChooseReward">
                        <label id="shoppingRewardLabelPoints">Очки:</label>
                        <input id="shoppingRewardPoints" type="number" value="0" min="0">
                        <label id="shoppingRewardLabelGift" style="display:none">Подарок:</label>
                        <textarea id="shoppingRewardGift" style="display:none"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div style="clear:both;"></div>
        <div class="line">
            <div class="left-part" style="height:100%;">
                <div class="frame">
                    <label for="shoppingDescription">Описание:</label>
                    <textarea id="shoppingDescription" style="height:100%;"> </textarea>
                </div>
            </div>
            <div class="right-part">
                <div class="frame">
                    <label for="shoppingDeadlineDate">Дедлайн:</label>
                    <input id="shoppingDeadlineDate" type="text" data-type="date">
                    <br />
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="line">
            <div class="left-part">
                <input id="actionPostShoppingTask" type="button"
                       data-action-url-add="@Url.Action("AddShoppingTask")"
                       data-action-url-update="@Url.Action("UpdateShoppingTask")"
                       data-text-add="Добавить задачу"
                       data-text-update="Сохранить изменения"
                       value="Сохранить изменения" />
                <input class="actionBack" type="button" value="Назад" />
            </div>
            <div class="right-part" style="display:none">
                <div class="frame">
                    <label for="ShoppingReminderTime">Напоминание:</label>
                    <input type="time" id="ShoppingReminderTime" />
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

    </fieldset>
</section>