﻿@model PocketMoney.Data.IUser
@{
    ViewBag.Title = "Достижения";
}


<div style="position:relative; z-index:1;">
    <script type="text/x-jquery-tmpl" id="goalsRowTemplate">
        <tr>
            <td>
                ${Text}
            </td>
            <td style="text-align: center;">
                ${Responsibility}
            </td>
            <td style="text-align: center;">
                ${Reward}
            </td>
            <td>
                <a href="#" class="js-actionEdit" data-goal-id="${GoalId}">Редактировать</a>
                <a href="#" class="js-actionRemove" data-goal-id="${GoalId}">Удалить</a>
            </td>
        </tr>
    </script>

    <script type="text/x-jquery-tmpl" id="checkboxUsersTemplate">
        <label style="white-space:nowrap">
            <input type="checkbox" data-user-id="${UserId}" />
            ${UserName}
        </label>
    </script>

    <section id="areaList" class="wizard">
        <div class="title line">
            <h1 class="left-part" style="margin:0 auto">@ViewBag.Title</h1>
            <input type="button" value="Добавить" id="addGoalBtn" style="float:right" />
            <div style="clear:both;"></div>
        </div>
        <table id="tableGoals" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Выполняет
                    </th>
                    <th>
                        Награда
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>

    <section id="GoalView" class="wizard" style="display:none">
        <div class="validation-summary-errors"><ul></ul></div>
        <div class="frame">
            <label for="template">Шаблон:</label>
            <select id="template">
                <option></option>
                <option>Стать отличником</option>
                <option>Сбросить вес</option>
                <option>Выиграть соревнование</option>
            </select>
        </div>
        <br />
        <div class="frame">
            <label for="Description" data-val-regex-pattern="" data-val-regex="Цель не должна быть пустой" data-val="true">Цель:</label>
            <input type="text" id="Description" />
        </div>
        <br />
        <div class="frame">
            <div id="assignedToBox">
                <label for="oneTimeAssignedTo">Кому:</label>
                <div id="AssignedToChooseBox">

                </div>
            </div>
        </div>
        <br />
        <div class="frame">
            <label for="Reward">Награда:</label>
            <div id="Reward">
                <label><input type="radio" id="RewardRadioPoints" name="RewardRadio" value="points" checked>баллы</label>
                <label><input type="radio" id="RewardRadioGift" name="RewardRadio" value="gift">подарок</label>
                <br />
                <div id="chooseReward">
                    <label id="RewardLabelPoints">Очки:</label>
                    <input id="RewardPoints" type="number" value="0" min="0">
                    <label id="RewardLabelGift" style="display:none">Подарок:</label>
                    <textarea id="RewardGift" type="text" style="display:none"></textarea>
                </div>
            </div>
        </div>
        <br />
        <input id="actionPost" type="button"
               data-action-url-add="@Url.Action("AddGoal")"
               data-action-url-update="@Url.Action("UpdateGoal")"
               data-text-add="Добавить"
               data-text-update="Сохранить изменения"
               value="Сохранить изменения" />
        <input class="actionBack" type="button" value="Назад" />
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/goal")
        <script type="text/javascript">
            (function () {
                var exports = this;
                $(document).ready(function ($) {
                    exports["GoalController"].init({
                        el: $('body'),
                        settings: {
                            GetGoalsUrl: '@Url.Action("GetGoals")',
                            CurrentUser: '@User.Identity.Name',
                            DeleteGoalUrl: '@Url.Action("DeleteGoal")',
                            GetFamilyMembersUrl: '@Url.Action("GetFamilyMembers")',
                            GetGoalUrl: '@Url.Action("GetGoal")',
                        }
                    });
                });
                if (!Modernizr.inputtypes.date) {
                    $('input[type=date]').datepicker({
                        dateFormat: 'dd.MM.yyyy'
                    },
                        $.datepicker.regional['ru']
                    );
                }
            }).call(this);
        </script>
    }
</div>