﻿@{
    ViewBag.Title = "Настройки";
}
<div class="title">
    <h1>@ViewBag.Title.</h1>
</div>
<br />
<div class="frame">
    <label>Статистика</label>
    <input type="text" value="Не реализованно" readonly />
</div>
<br /><br />
<div class="frame">
    <label>Правило распределения баллов</label>
    <input type="text" value="Не реализованно" readonly />
</div>
<br /><br />
<div class="frame">
    <label>Правила выполения обязанностей</label>
    <input type="text" value="Не реализованно" readonly />
</div>