﻿@model PocketMoney.Data.IUser
@{
    ViewBag.Title = "Достойные поступки";
}

<div style="position:relative; z-index:1;">
    <script type="text/x-jquery-tmpl" id="appointsRowTemplate">
        <tr>
            <td>
                ${Text}
            </td>
            <td style="text-align: center;">
                ${UserName}
            </td>
            <td style="text-align: center;">
                ${Reward}
            </td>
            <td>
                {{if Points == 0 && Gift == ''}}
                <a class="js-action-setGift" data-attainment-id="${AttainmentId}" style="cursor:pointer;">Наградить</a>
                {{/if}}
                <a class="js-action-remove" data-attainment-id="${AttainmentId}" style="cursor:pointer;">Удалить</a>
            </td>
        </tr>
    </script>

    <section id="areaList" class="wizard">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <table id="tableGoals" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Выполнил
                    </th>
                    <th>
                        Награда
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>

    <section id="setRewardList" class="wizard" style="display:none">
        <label id="Name"></label>
        <div class="frame">
            <textarea id="Description" readonly></textarea>
        </div>
        <br />
        <div class="frame">
            <label for="Reward">Награда:</label>
            <div id="Reward">
                <label><input type="radio" id="RewardRadioPoints" name="RewardRadio" value="points" checked>баллы</label>
                <label><input type="radio" id="RewardRadioGift" name="RewardRadio" value="gift">подарок</label>
                <br />
                <div id="chooseReward">
                    <label id="RewardLabelPoints">Очки:</label>
                    <input id="RewardPoints" type="number" value="0" min="0">
                    <label id="RewardLabelGift" style="display:none">Подарок:</label>
                    <textarea id="RewardGift" type="text" style="display:none"></textarea>
                </div>
            </div>
        </div>
        <input id="actionPost" type="button" value="Отправить награду" />
        <input class="actionBack" type="button" value="Назад" />
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/appointReward")
        <script type="text/javascript">
            (function () {
                var exports = this;
                $(document).ready(function ($) {
                    exports["AppointRewardController"].init({
                        el: $('body'),
                        settings: {
                            GetAttainmentsUrl: '@Url.Action("GetAttainments")',
                            CurrentUser: '@User.Identity.Name',
                            GetAttainmentUrl: '@Url.Action("GetAttainment")',
                            PostRewardUrl: '@Url.Action("PostReward")',
                            DeleteReward: '@Url.Action("DeleteReward")',
                        }
                    });
                });
                if (!Modernizr.inputtypes.date) {
                    $('input[type=date]').datepicker({
                        dateFormat: 'dd.MM.yyyy'
                    },
                        $.datepicker.regional['ru']
                    );
                }
            }).call(this);
        </script>
    }
</div>