<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="filesystem" type="PocketMoney.FileSystem.Configuration.FileStorageConfiguration, PocketMoney.FileSystem.Providers" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PocketMoney.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <filesystem connectionStringName="DefaultConnection">
    <devices>
      <device name="Files" settings="D:\Projects\PocketMoney\storage\" type="PocketMoney.FileSystem.Providers.FileSystemDevice, PocketMoney.FileSystem.Providers" online="true" remote="false" archive="false" />
    </devices>
  </filesystem>
  <castle>
    <facilities>
      <facility id="loggingfacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="log4net.config" />
      <facility id="nhibernate" isWeb="true" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" configurationBuilder="PocketMoney.App.FluentNHibernateConfigurationBuilder, PocketMoney.App">
        <factory id="nhibernate.factory">
          <settings>
            <item key="show_sql">false</item>
            <item key="connection.provider">
              NHibernate.Connection.DriverConnectionProvider
            </item>
            <item key="connection.driver_class">
              NHibernate.Driver.SqlClientDriver
            </item>
            <item key="connection.connection_string">DefaultConnection</item>
            <item key="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</item>
            <item key="cache.use_second_level_cache">true</item>
            <item key="cache.use_query_cache">true</item>
            <item key="c3p0.acquire_increment">1</item>
            <item key="c3p0.idle_test_period">100</item>
            <item key="c3p0.max_size">100</item>
            <item key="c3p0.max_statements">200</item>
            <item key="c3p0.min_size">10</item>
            <item key="c3p0.timeout">100</item>
            <!-- seconds -->
          </settings>
        </factory>
      </facility>
    </facilities>
  </castle>
  <nhibernate>
    <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="hibernate.show_sql" value="true" />
  </nhibernate>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PocketMoney;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  </connectionStrings>
  <userSettings>
    <PocketMoney.App.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="FamilyId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </PocketMoney.App.Properties.Settings>
  </userSettings>
</configuration>