@{
    ViewBag.Title = "Главная";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Карманные деньги - это система которая регулирует получение денег на каранные расходы для детей. Глава семьи устанавливает повседневные задачи
                для ребенка, например: сделать домашнее задание, помыть посуду и т.д. и устанавливает стоимость для каждого задания в баллах. Можно создавать 
                специальные задания под конкретную дату и условия. Так же можно задать для ребенка определенные цели, например "Получить пятерку за Рус.Яз", 
                "Подтянутся 10 раз" и т.д., достигнув которые, ребенок тоже получает заданные баллы. Эти баллы ребенок может обменять на деньги у родителей
                по заданному курсу. Курс обмена устанавливается родителями и может быть изменен, только раз в месяц. Таким образом, используя заданные правила 
                и задачник, мы сможете регулировать получение денег на карманные расходы для своих детей. Так же данная система увеличивает у детей трудоспособность 
                и позволяет им зарабатывать первые деньги. Данная система требует минимальных вводимых данных и проста в использовании. 
            </p>
        </div>
    </section>
}
<h3>Мы можем предложить вам следуещее:</h3>
<ol class="round">
    <li class="one">
        <h5>Регистрация семьи</h5>
        Зарегистрируйтесь на сайте для начало работы. При регистрации создатся новая семья 
        с вами во главе. Вы сможете добавлять новых пользователей, членов своей семьи: детей
        и родителей. 
        На текущем этапе в системе существует только один клиент для ребенка - плагин в соц.
        сети - ВКонтакте. В дальнейшем мы планируем использвать другие соц. сети, а так же 
        мобильные клиенты под Android и Apple. 
    </li>
    <li class="two">
        <h5>Используйте приложение в ВКонтакте</h5>
        Приложение в социальной сети - ВКонтакте, позволит быстро и легко регистрировать 
        выполненые задачи и зарабатывать баллы. 
    </li>
</ol>
