﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="yandex-verification" content="ea97f75a5691467e" />
    <title>@ViewBag.Title — Семейные дела</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/application")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Семейные дела", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @Html.Partial("_NavPartial")
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured" , required: false)
        <section class="content-wrapper main-content clear-fix">
            <div id="error"></div>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>По всем вопросам обращайтесь в <a href="mailto:alexey.gavrilov@gmail.com" target="_blank">alexey.gavrilov@gmail.com</a></p>
            </div>
            <div class="float-right">
                <p>&copy; @DateTime.Now.Year — Гаврилов А.Н.</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts" , required: false)
    <script type="text/javascript">

        $(document)
            .ajaxStart(function () {
                $.blockUI({
                    message: '<img src="/loading.gif" />',
                    css: {
                        border: '0px solid #FFFFFF',
                        cursor: 'wait',
                        width: '30%',
                        top: '40%',
                        left: '35%',
                        backgroundColor: 'transparent'
                    },
                    overlayCSS: { backgroundColor: '#FFFFFF', opacity: 0.0, cursor: 'wait' }
                });
            })
            .ajaxStop($.unblockUI);
    </script>
</body>
</html>
