﻿<nav>
    <ul id="menu">
        @if (!Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Главная" , "Index" , "Home")</li>
        }
        else
        {
            <li>@Html.ActionLink("Семья" , "Index" , "Family")</li>
            <li>@Html.ActionLink("Задания" , "Index" , "Task")</li>
            <li>@Html.ActionLink("Достижения" , "Index" , "Goal")</li>
            <li>@Html.ActionLink("Поступки" , "Index" , "AppointReward")</li>
            <li>@Html.ActionLink("Настройки" , "Index" , "Settings")</li>
        }
    </ul>
</nav>
