﻿<section id="areaAddUser" class="wizard" style="display: none">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Добавить учетную запись</h2>
    </hgroup>
    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Форма добавления пользователя</legend>
        <ol>
            <li>
                <label>Тип учетной записи</label>
                <div class="cursor-pointer selector-by-click">
                    <label><input id="adult" name="RoleType" type="radio" value="2" />Тот кто назначает задания (Взрослый)</label>
                </div>
                <div class="cursor-pointer selector-by-click">
                    <label><input id="child" name="RoleType" type="radio" value="1" checked="checked" />Тот кто выполняет задания (Ребенок)</label>
                </div>
            </li>
            <li id="addUserName">
                <label >Имя:</label>
                <input type="text" value="" name="UserName" />
            </li>
            <li id="addEmail">
                <label>Email:</label>
                <input type="text" value="" name="Email" data-val-regex-pattern="" data-val-regex="Некорректный Email" data-val="true" />
            </li>
            <li id="vkId" style="display:none;">
                <label>Ссылка на личную страницу ВК</label>
                <input type="text" id="textVkUrl" value="" />
                <input type="hidden" id="textVkId" />
                <input type="button" id="SearchVkId" value="Загрузить страницу ВК" />
            </li>
            <li id="vkName" style="display:none;">
                <label>Имя</label>
                <input id="textVkName" type="text" value="" />
            </li>
            @*<li>
                <label for="addUserName">Фото или аватар</label>
                <img id="addPhoto" alt="Нет фото" src="#" />
                <input id="addUploadPhoto" type="file" value="Загрузить новое фото или аватар" />
            </li>*@
        </ol>
        <input id="actionCreateUser" type="button" value="Создать пользователя" disabled="disabled" />
        <input id="actionCancelAdd" type="button" value="Отмена" />
    </fieldset>
</section>
