﻿<section id="areaEditUser" class="wizard" style="display: none">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Добавить учетную запись</h2>
    </hgroup>
    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <legend>Форма редактирования пользователя</legend>
        <div class="left-part">
            <ol>
                <li>
                    <label for="editUserName">Имя:</label>
                    <input id="editUserName" type="text" value="" name="UserName" />
                </li>
                <li id="editVkId" style="display:none;">
                    <label>Ссылка на личную страницу ВК</label>
                    <input type="text" id="editTextVkUrl" value="" readonly="readonly" />
                    <input type="hidden" id="editTextVkId" value="" />
                </li>
                <li>
                    <label for="editUserAdditionalName">Дополнительная информация:</label>
                    <input id="editUserAdditionalName" type="text" value="" name="AdditionalName">
                </li>
                <li id="editUserPhoneField">
                    <label for="editUserPhone">Телефон:</label>
                    <input id="editUserPhone" type="text" value="" name="AdditionalName" data-val-regex-pattern="" data-val-regex="Некорректный Телефон" data-val="true">
                </li>
                <li>
                    <label for="showUserRole">Роль:</label>
                    <input id="showUserRole" type="text" value="" name="Role" readonly>
                </li>
                <li id="textEditEmailField">
                    <label for="editEmail">Email:</label>
                    <input id="editEmail" type="text" value="" name="Email" data-val-regex-pattern="" data-val-regex="Некорректный Email" data-val="true" />
                </li>
                @*<li>
                    <label for="editUserName">Фото или аватар</label>
                    <img id="editPhoto" alt="Нет фото" src="#" />
                    <input id="editUploadPhoto" type="file" value="Загрузить новое фото или аватар" />
                </li>*@
            </ol>
        </div>
        <div class="right-part">
            <ol>
                <li>
                    <label for="showPoints">Очки:</label>
                    <input id="showPoints" type="text" value="" readonly />
                </li>
                <li>
                    <label for="showLevel">Уровень:</label>
                    <input id="showLevel" type="text" value="0" readonly />
                </li>
                <li>
                    <label for="showCompletedTasksCount">Количество завершенных заданий:</label>
                    <input id="showCompletedTasksCount" type="text" value="" readonly />
                </li>
                <li>
                    <label for="showGrabbedTasksCount">Количество взятых заданий:</label>
                    <input id="showGrabbedTasksCount" type="text" value="" readonly />
                </li>
                <li>
                    <label for="showCompletedGoalsCount">Количество достигнутых целей:</label>
                    <input id="showCompletedGoalsCount" type="text" value="" readonly />
                </li>
                <li>
                    <label for="showGoodWorksCount">Количество добрых дел:</label>
                    <input id="showGoodWorksCount" type="text" value="" readonly />
                </li>
                <li>
                    <label for="showUserLoginDate">Дата последнего входа:</label>
                    <input id="showUserLoginDate" type="text" value="" name="LoginDate" readonly />
                </li>
            </ol>
        </div>
        <input id="actionEditUser" type="button" value="Сохранить изменения" />
        <input id="actionCancelEdit" type="button" value="Отмена" />
    </fieldset>
</section>
