﻿@model PocketMoney.Data.IUser
@{
    ViewBag.Title = "Семья";
}
<script type="text/x-jquery-tmpl" id="userRowTemplate">
    <tr>
        <td>
            ${UserName}
        </td>
        <td style="text-align: center;">
            ${Points}
        </td>
        <td style="text-align: center;">
            <input type="hidden" value="${UserId}" />
            <a href="#" class="js-actionView" data-userid="${UserId}">История</a>
            <a href="#" class="js-actionEdit">Редактировать</a>
            <a href="#" class="js-actionRemove">Удалить</a>
            <a href="#" class="js-actionExchange" data-username="${UserName}" data-userid="${UserId}" data-points="${Points}">Списать баллы</a>
        </td>
    </tr>
</script>
<section id="areaList" class="wizard">
    <div class="title line">
        <div class="left-part">
            <h1 style="margin:0 auto">@ViewBag.Title</h1>
            <h2 style="margin:0 auto">Учетные записи семьи.</h2>
        </div>
        <div class="right-part">
            <input id="actionAdd" type="button" value="Добавить" style="float:right"/>
        </div>
        <div style="clear:both"></div>
    </div>
    <table id="tableUsers" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    Имя пользователя
                </th>
                <th>
                    Текущий балл
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
@Html.Partial("Add")
@Html.Partial("Edit")
@Html.Partial("Withdraw")
@Html.Partial("UserHistory")
@section Scripts {
    @Scripts.Render("~/bundles/family")
    <script type="text/javascript">
        (function () {
            var exports = this;
            $(document).ready(function ($) {
                exports.FamilyController.init({
                    el: $('body'),
                    settings: {
                        GetUsersUrl: '@Url.Action("GetUsers")',
                        AddUserUrl: '@Url.Action("AddUser")',
                        RemoveUserUrl: '@Url.Action("DeleteUser")',
                        GetUserUrl: '@Url.Action("GetUser")',
                        EditUserUrl: '@Url.Action("EditUser")',
                        WithdrawPointsUrl: '@Url.Action("WithdrawPoints")',
                        CurrentUser: '@User.Identity.Name',
                        GetHistoryUrl: '@Url.Action("GetHistory")',
                        AddClientUrl: '@Url.Action("AddClient")',
                        UpdateClientUrl: '@Url.Action("UpdateClient")'
                    }
                });
            });
        }).call(this);
    </script>
}
