﻿<section id="areaHistory" class="wizard" style="display: none">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>История</h2>
    </hgroup>
    <fieldset>
        <div id="historyLog" class="frame" style="background-color:white; border-color:lightsteelblue;"></div>
        <input id="actionBack" type="button" value="Назад" />
    </fieldset>
</section>
