﻿<section id="areaWithdrawPoints" class="wizard" style="display: none">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Списать баллы</h2>
    </hgroup>
    <div class="validation-summary-errors"><ul></ul></div>
    <fieldset>
        <label for="withdrawInput" id="userName" data-text="Сколько баллов вы хотите списать с пользователя "></label>
        <input type="number" id="withdrawInput" min="0" />
        <input id="actionWithdraw" type="button" value="Списать" />
        <input id="actionCancelWithdraw" type="button" value="Отмена" />
    </fieldset>
</section>
