﻿body {
    font-family: 'Segoe UI', sans-serif;
}

.hidden {
    display: none;
}

.attainment {
    cursor: pointer;
}

.showGoal {
    cursor: pointer;
}

h2 {
    font-family: monospace;
    color: white;
}

.font-task {
    font-family: Comic Sans, Comic Sans MS;
}

.bold {
    font-weight: bold;
}

#task-title {
    width: 150px;
}

.btn_day a {
    padding-left: 15px;
}

nav {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    float: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu {
    border-radius: 10px;
}

    .topmenu > li {
        display: inline-block;
        margin-right: 0;
        position: relative;
        padding: 10px;
    }

        .topmenu > li:last-child {
            margin-right: 0;
            margin-left: 30px;
        }

.width100 {
    width: 100%;
}

.list {
    display: block;
    width: 100%;
    border-collapse: collapse;
}

    .list .empty-item {
        cursor: default;
    }

    .list .list-item {
        float: left;
        width: 100%;
        cursor: pointer;
        margin: 2px 0px;
        padding: 6px 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #83a7c8;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        box-sizing: border-box; /* Opera/IE 8+ */
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        font-weight: bolder;
    }

        .list .list-item span {
            display: inline-block;
            margin-left: 10px;
            padding: 10px 5px;
            font-family: Comic Sans,Comic Sans MS;
        }

        .list .list-item .list-item-reward {
            float: right;
            display: inline-block;
            border-radius: 25px;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            background: #fc0;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            margin-right: 10px;
            padding: 10px 5px;
            max-width: 200px;
        }

.details {
    padding-left: 10px;
    padding-right: 10px;
}

.top li > a {
    padding: 6px 3px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

    .submenu li a {
        border-bottom: 1px solid rgba(255,255,255,.3);
        color: white;
        padding: 6px 3px 6px 10px;
    }

.four ul {
    background: #5480a8;
    background: linear-gradient(to top, #83a7c8, #456f96);
}

    .four ul li a {
        display: block;
        margin: 4px 4px;
        text-decoration: none;
        outline: none;
        font-family: Tahoma,Arial,Verdana,sans-serif,Lucida Sans;
        transition: .5s linear;
        cursor: pointer;
    }


.four .submenu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #709bc2;
}


#user-points-li {
    color: white;
    font-family: Tahoma,Arial,Verdana,sans-serif,Lucida Sans;
    float: right;
    margin-right: 20px;
    margin-left: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0;
}

#user-points {
    padding-top: 10px;
    white-space: nowrap;
}

.four ul li:hover .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.four ul li:hover:not(#user-points-li) {
    background: #416a8f;
    border-radius: 10px;
}

.four ul a {
    color: white;
}

#attainmentDesciption {
    height: 100px;
    width: 100%;
}

.flat3 {
    padding: 15px 24px;
    font: normal 15px/22px Verdana;
    text-transform: uppercase;
    color: grey;
    border: 2px solid #83a7c8;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: border .25s linear, color .25s linear,background-color .25s linear;
    transition: border .25s linear, color .25s linear,background-color .25s linear;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    display: inline-block;
}

    .flat3:hover {
        color: white;
        background-color: #83a7c8;
        border: 2px solid #83a7c8;
    }

    .flat3:active {
        color: white;
        background-color: #638aad;
        border: 2px solid #638aad;
    }

textarea {
    border: 2px solid #83a7c8;
    width: 100%;
    height: 100px;
}

#shoppingList input[type=checkbox] {
    display: none;
}

#shoppingList input[type="checkbox"] label:before {
    border-radius: 3px;
}

#shoppingList input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 15px;
}

#shoppingList label {
    font-family: Comic Sans, Comic Sans MS, cursive;
    font: bold;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

    #shoppingList label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #aaa;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    }

#shoppingList .checkbox label:before {
    border-radius: 3px;
}

.cssload-coffee {
    text-align: left;
    height: 49px;
    width: 39px;
    margin-top: 70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 50%;
    z-index: 999;
    background: linear-gradient(to bottom left, rgb(69,111,150), rgb(131,167,200));
    background: -o-linear-gradient(to bottom left, rgb(69,111,150), rgb(131,167,200));
    background: -ms-linear-gradient(to bottom left, rgb(69,111,150), rgb(131,167,200));
    background: -webkit-linear-gradient(to bottom left, rgb(69,111,150), rgb(131,167,200));
    background: -moz-linear-gradient(to bottom left, rgb(69,111,150), rgb(131,167,200));
}

    .cssload-coffee:before {
        position: absolute;
        content: "";
        right: -15px;
        top: 5px;
        height: 24px;
        width: 10px;
        background: transparent;
        border: 5px solid rgb(69,111,150);
        border-left: 5px solid transparent;
        border-bottom: 5px solid rgb(69,111,150);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1;
    }

    .cssload-coffee:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 29px;
        background: rgb(225,225,225);
        border-radius: 4px;
        top: -29px;
        box-shadow: 34px 0px 0 rgb(225,225,225), 17.5px -15px 0 rgb(225,225,225);
        opacity: 1;
        animation: cssload-steam 1.65s ease infinite;
        -o-animation: cssload-steam 1.65s ease infinite;
        -ms-animation: cssload-steam 1.65s ease infinite;
        -webkit-animation: cssload-steam 1.65s ease infinite;
        -moz-animation: cssload-steam 1.65s ease infinite;
    }



@keyframes cssload-steam {
    100% {
        top: -39px;
        background: rgb(238,238,238);
        box-shadow: 34px 0px 0 rgb(238,238,238), 17.5px -15px 0 rgb(238,238,238);
        opacity: 0.25;
    }
}

@-o-keyframes cssload-steam {
    100% {
        top: -39px;
        background: rgb(238,238,238);
        box-shadow: 34px 0px 0 rgb(238,238,238), 17.5px -15px 0 rgb(238,238,238);
        opacity: 0.25;
    }
}

@-ms-keyframes cssload-steam {
    100% {
        top: -39px;
        background: rgb(238,238,238);
        box-shadow: 34px 0px 0 rgb(238,238,238), 17.5px -15px 0 rgb(238,238,238);
        opacity: 0.25;
    }
}

@-webkit-keyframes cssload-steam {
    100% {
        top: -39px;
        background: rgb(238,238,238);
        box-shadow: 34px 0px 0 rgb(238,238,238), 17.5px -15px 0 rgb(238,238,238);
        opacity: 0.25;
    }
}

@-moz-keyframes cssload-steam {
    100% {
        top: -39px;
        background: rgb(238,238,238);
        box-shadow: 34px 0px 0 rgb(238,238,238), 17.5px -15px 0 rgb(238,238,238);
        opacity: 0.25;
    }
}
