﻿@model PocketMoney.Model.External.Requests.RegisterUserRequest
@{
    ViewBag.Title = "Регистрация";
}
<script type="text/javascript">
    function registerClient(target) {
        if ($(target).prop("checked") == true) {
            $("#ClientFullName").removeProp("disabled");
        }
        else {
            $("#ClientFullName").prop("disabled", true);
        }

        return true;
    }
</script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Создание новой семьи.</h2>
</hgroup>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset style="width:50%;float:left">
        <legend>Форма регистрации главы семьи</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FamilyName)
                @Html.TextBoxFor(m => m.FamilyName)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @type = "email" })
            </li>
            <li>
                @Html.LabelFor(m => m.CountryCode)
                @Html.DropDownListFor(m => m.CountryCode, (new SelectListItem[4] {
                    new SelectListItem{ Selected = true, Text = "Россия", Value = "7" },
                    new SelectListItem{ Text = "Україна", Value = "380" },
                    new SelectListItem{ Text = "Беларусь", Value = "375" },
                    new SelectListItem{ Text = "USA", Value = "1" }
                    }).AsEnumerable())
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ClientType)
        @Html.HiddenFor(m => m.Identity)
        <input type="submit" value="Регистрация" />
    </fieldset>
    if (Model.RegisterClient)
    {
        <fieldset style="width:50%;float:right">
            <legend>Форма регистрации исполнителя</legend>
            <ol>
                <li>
                    <label for="ClientFullName">Регистрировать ли '@Model.ClientFullName' как отдельного члена семьи на которого будут назначатся задачи?</label>
                    @Html.CheckBoxFor(m => m.RegisterClient, new { onclick = "return registerClient(this)" })
                </li>
                <li>
                    @Html.LabelFor(m => m.ClientFullName)
                    @Html.TextBoxFor(m => m.ClientFullName)
                </li>
            </ol>
        </fieldset>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

