﻿<div class="add-task-area">
    <input id="actionAdd" class="add-task-btn" type="button" value="Добавить" style="margin:0 auto" />
    <div class="add-task-list">
        <ul>
            <li class="add-task-list-choose" data-task-type="CleanTask">Уборка</li>
            <li class="add-task-list-choose" data-task-type="HomeworkTask">Школьное задание</li>
            <li class="add-task-list-choose" data-task-type="OneTimeTask">Единовременное задание</li>
            <li class="add-task-list-choose" data-task-type="RepeatTask">Повторяющееся задание</li>
            <li class="add-task-list-choose" data-task-type="ShoppingTask">Поход в магазин</li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</div>