﻿@model PocketMoney.Data.IUser
@{
    ViewBag.Title = "Задания";
}
@Styles.Render("~/Content/table")
<script type="text/javascript">
    function getTaskType(taskNum) {
        switch (taskNum) {
            case 1:
                return "OneTimeTask";
            case 2:
                return "RepeatTask";
            case 3:
                return "HomeworkTask";
            case 4:
                return "CleanTask";
            case 5:
                return "ShoppingTask";
        }
    }
</script>
<div style="position:relative; z-index:1;">
    <script type="text/x-jquery-tmpl" id="taskRowTemplate">
        <tr>
            <td>
                ${Title}
            </td>
            <td style="text-align: center;">
                ${Responsibility}
            </td>
            <td style="white-space:nowrap;">
                <a href="#" class="js-task-status" data-has-status="${HasStatus}" data-task-id="${TaskId}">${StatusName}</a>
            </td>
            <td style="text-align: center;">
                ${Reward}
            </td>
            <td>
                <a href="#" class="js-actionEdit" data-task-id="${TaskId}" data-task-type="${getTaskType(TaskType)}">Редактировать</a>
                <a href="#" class="js-actionRemove" data-task-id="${TaskId}">Удалить</a>
            </td>
        </tr>
    </script>
    <section id="areaList" class="wizard">
        <div class="title line">
            <h1 class="left-part" style="margin:0 auto">@ViewBag.Title</h1>
            @Html.Partial("DropDownList")
            <div style="clear:both"></div>
        </div>
        <table id="tableTasks" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        Название
                    </th>
                    <th style="width: 20%; text-align: center;">
                        Выполняет
                    </th>
                    <th style="width: 10%;">
                        Статус
                    </th>
                    <th style="width: 20%; text-align: center; ">
                        Награда
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>

    <script type="text/x-jquery-tmpl" id="checkboxUsersTemplate">
        <label style="white-space:nowrap">
            <input type="checkbox" data-user-id="${UserId}" disabled="disabled" />
            ${UserName}
        </label>
    </script>
    <div id="assignedToBox" style="display:none">
        <label for="oneTimeAssignedTo">Кому:</label>
        <label><input type="checkbox" id="assignedToFloating" checked="checked" /> Без назначения (может взять любой)</label>
        <div id="assignedToChooseBox">

        </div>
    </div>

    @Html.Partial("TaskTypes/CleanTask")
    @Html.Partial("TaskTypes/HomeworkTask")
    @Html.Partial("TaskTypes/OneTimeTask")
    @Html.Partial("TaskTypes/RepeatTask")
    @Html.Partial("TaskTypes/ShoppingTask")
    @Html.Partial("Status")

    @section Scripts {
        @Scripts.Render("~/bundles/grid")
        @Scripts.Render("~/bundles/task")
        <script type="text/javascript">
            (function () {
                var exports = this;
                $(document).ready(function ($) {
                    exports["TaskController"].init({
                        el: $('body'),
                        settings: {
                            GetTasksUrl: '@Url.Action("GetTasks")',
                            CurrentUser: '@User.Identity.Name',
                            DeleteTaskUrl: '@Url.Action("DeleteTask")',
                            GetFamilyMembersUrl: '@Url.Action("GetFamilyMembers")',
                            GetOneTimeTaskUrl: '@Url.Action("GetOneTimeTask")',
                            GetHomeworkTaskUrl: '@Url.Action("GetHomeworkTask")',
                            GetCleanTaskUrl: '@Url.Action("GetCleanTask")',
                            GetShoppingTaskUrl: '@Url.Action("GetShoppingTask")',
                            GetRepeatTaskUrl: '@Url.Action("GetRepeatTask")',
                            GetTaskStatusUrl: '@Url.Action("GetTaskStatus")',
                            CancelTaskActionUrl: '@Url.Action("CancelTaskAction")',
                        }
                    });
                });
                //if (!Modernizr.inputtypes.date) {
                    $('input[type=text][data-type=date]').datepicker({ dateFormat: 'dd.mm.yy' },
                        $.datepicker.regional['ru']
                    );
                //}
            }).call(this);
        </script>
    }
</div>