﻿<section id="areaTaskStatus" class="wizard" style="display: none">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Операции</h2>
    </hgroup>
    <fieldset>
        <table id="tableOperations" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        Исполнитель
                    </th>
                    <th style="text-align: center; width: 20%;">
                        Дата
                    </th>
                    <th>
                        Коментарий
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br />
        <input class="js-task-status-back" type="button" value="Назад" />
    </fieldset>
    <script type="text/x-jquery-tmpl" id="operationRowTemplate">
        <tr>
            <td>
                ${User}
            </td>
            <td style="text-align: center;">
                ${Date}
            </td>
            <td>
                ${Comment}
            </td>
            <td>
                <a href="#" class="js-action-сancel" data-task-id="${TaskId}" data-task-action-id="${TaskActionId}" title="Отменить действие и вернуть баллы обратно" data-confirm="Вы уверены что хотите отменить действие ${User}?">Отменить</a>
            </td>
        </tr>
    </script>

</section>